---

import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const books = await getCollection('books')

---

<Layout title="Mis libros">
	<main>
		<h1 class="text-center text-7xl font-extrabold mb-24"> Toda mi lectura :📖 </h1>
	</main>

	<section aria-label="Libros leidos" class="max-w-7xl mx-auto px-8">
		<div class="grid gap-8 md:grid-cols-4">
			<div>
			{
				books.map(book=>{
					const {slug, data} = book
					const { title, author, img, pages, description, buy } = data
					return(
						<article class="flex">
							<a href={`/libro/${slug}`} class="mb-2 xl:mb-0 transition duration-1000 hover:scale-150">
								<img class="mr-58 w-48 rounded" src={`/${img}`} alt={title} class="w-full rounded-lg"/>
							</a>
							<div class="flex flex-col justify-center">
								<h2 class="mb-2 text-3xl font-bold lading-tight text-white">
									{title}
								</h2>
								<p class = "mb-4 text-gray-300 max-w-sm"> {description}</p>
								<span class="text-xs text-white"> 📄  {pages} hojas</span>
							</div>
						</article>
					)

				})

			}
					
			</div>
		</div>
	</section>


	
</Layout>
