---
import CDL from "./CDL.astro"
import BL from '../assets/BL.png';

const SPAIN = 'ES'

const country = Astro.request.headers.get('X-Vercel-IP-Country') ?? 'ES'

const storeCountry = country === SPAIN ? 'Spain' : 'UK'
const countryName = country === SPAIN ? 'España' : 'United Kingdom'

const { buy } = Astro.props
const Spain = buy.Spain
const UK = buy.UK
---

<a
  href={Spain}
  title="Comprar libro"
  target="_blank"
  rel="noopener noreferrer"
  class="text-balance inline-flex gap-2 items-center bg-green-900 hover:bg-green-700 active:bg-yellow-600 text-black font-bold py-2 px-4 rounded-lg border border-green-500 transition duration-200 ease-in-out hover:scale-105 justify-center text-center"
>
  Comprar en Casa del Libro {countryName}
  <CDL />
</a>
<a
  href={UK}
  title="Comprar libro"
  target="_blank"
  rel="noopener noreferrer"
  class="text-balance inline-flex gap-2 items-center bg-green-900 hover:bg-green-700 active:bg-yellow-600 text-black font-bold py-2 px-4 rounded-lg border border-green-500 transition duration-200 ease-in-out hover:scale-105 justify-center text-center"
>
  Comprar en BlackLibrary UK {countryName}
  <img src={BL.src} alt="Descripción de la imagen" class="w-30 h-4" />
</a>